<div *ngIf="opcoesForm && formInitialize">
  <div class="row">
      <div  [formGroup]="opcoesForm" class="col-md-12">
          <div class="form-group">
              <p-dropdown [options]="opcoes" formControlName="opcao"></p-dropdown>
          </div>
          <div class="form-group">
            <div [ngSwitch]="opcaoSelecionada">
              <ng-template [ngSwitchCase]="ID_ALTERAR_NOME">
                  <alterar-nome [alterarNomeForm]="getAlterarNomeForm()" (formReady)="addFormControl('alterarNome', $event)"></alterar-nome>
              </ng-template>
              <ng-template [ngSwitchCase]="ID_ALTERAR_CONTATO">
                <alterar-contato [alterarContatoForm]="alterarContatoForm" (formReady)="addFormControl('alterarContato', $event)"></alterar-contato>
              </ng-template>
            </div>
          </div>
      </div>
  </div>
</div>
<pre class="text-success">
  {{ opcoesForm.value | json }}
</pre>
