<div *ngIf="getOpcoesForm() && getFormInitialize()">
  <div class="row">
      <div  [formGroup]="getOpcoesForm()" class="col-md-12">
          <div class="form-group">
              <p-dropdown [options]="getOpcoes()" formControlName="opcao"></p-dropdown>
          </div>
          <div class="form-group">
            <div [ngSwitch]="getOpcaoSelecionada()">
              <ng-template [ngSwitchCase]="ID_ALTERAR_NOME">
                  <alterar-nome [alterarNomeForm]="getAlterarNomeForm()" (formReady)="addFormControl('alterarNome', $event)"></alterar-nome>
              </ng-template>
              <ng-template [ngSwitchCase]="ID_ALTERAR_CONTATO">
                <alterar-contato [alterarContatoForm]=" getAlterarContatoForm()" (formReady)="addFormControl('alterarContato', $event)"></alterar-contato>
              </ng-template>
            </div>
          </div>
      </div>
  </div>
</div>
<pre class="text-success">
  {{ getOpcoesForm().value | json }}
</pre>
